<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div>
        <h2 class="name">{product1_name}</h2>
        <h4 class="author">{product1_author}</h4>
        <h4 class="price">{product1_price}</h4>
        <h5 class="description">{product_description}</h5>
    </div> 
    <div>
        <h2 class="name">{product2_name}</h2>
        <h4 class="author">{product2_author}</h4>
        <h4 class="price">{product2_price}</h4>
        <h5 class="description">{product_description}</h5>
    </div>
    <nav>{links}</nav>
</body>
</html>